:root {
    --bg-primary-color: #fff;
    --bg-secondary-color: #ff6600;
    --text-primary-color: #33302f;
    --text-color-secondary: #fff;
    --title-color-primary: #ff6600;
    --title-color-secondary: #008251;

    --nav-height: 103px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit
}

a,
a:active,
a:visited {
    text-decoration: none;
}

li,
ul {
    list-style: none;
    padding: 0;
}

button {
    border-style: none;
}

/* Global */
body {
    font-family: 'Roboto', sans-serif;
    background: #ccc;
    overflow-x: hidden;
}

/* Navbar */
.nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--bg-primary-color);
    padding: 0 2.8rem 0 1.5rem;
    z-index: 100;
}

.nav__brand {
    width: auto;
    height: 46px;
}

.nav__logo {
    width: inherit;
    height: inherit;
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav__item {
    text-transform: capitalize;
}

.nav__item:hover .nav__link {
    color: var(--title-color-primary);
}

.nav__link {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-primary-color);
}

.nav__socials {
    display: flex;
    gap: 12px;
}

.nav__social {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__social--facebook {
    background-color: #3c5994;
}

.nav__social--twitter {
    background-color: #59a8ea;
}

.nav__social--instagram {
    background: linear-gradient(90deg, #f17e00, #e50029, #d30060);
}

.nav__social--youtube {
    background-color: #d84e42;
}

.nav__icon {
    color: var(--text-color-secondary);
    font-size: 10px;
}

/* Container */
.container {
    min-height: 100vh;
}

.hero {
    width: 100%;
}

/* Carrousel */
.carrousel {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.carrousel__item {
    height: inherit;
}

.carrousel__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.91);
}

.carrousel__image {
    width: 100%;
    height: inherit;
    object-fit: cover;;
}

.carrousel__content {
    position: absolute;
    top: 5rem;
    left: 12rem;
}

.carrousel__title {
    color: var(--text-primary-color);
    font-size: 40px;
    max-width: 270px;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 40px;
}

.carrousel__title--important {
    color: var(--title-color-primary);
}

.carrousel__paragraph {
    max-width: 400px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
}

.carrousel__link {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: var(--title-color-primary);
}

.carrousel__link:hover .carrousel__link--arrow-up-right {
    transform: translateX(5px) rotate(90deg);
}


.carrousel__link--arrow-up-right {
    position: relative;
    transform: rotate(45deg);
    transition: .25s ease;
}

.carrousel__link--arrow-up-right i {
    transform: inherit;
}

.carrousel__people {
    position: absolute;
    right: 170px;
    bottom: -40px;
    height: 480px;
    width: auto;
    pointer-events: none;
}

.carrousel__60years {
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    width: 180px;
    height: auto;
    pointer-events: none;
}

.carrousel__row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ebe9e2;
    background-color: var(--bg-primary-color);
    cursor: pointer;
    transition: .15s ease;
}

.carrousel__row:hover {
    background-color: var(--bg-secondary-color);

}

.carrousel__row--left {
    left: 40px;
}

.carrousel__row--right {
    right: 40px;
}


