:root {
    --bg-primary-color: #fff;
    --bg-secondary-color: #ff6600;
    --bg-terciary-color: #008251;
    --text-primary-color: #33302f;
    --text-color-secondary: #fff;
    --text-color-terciary: #9f9f9f;
    --title-color-primary: #ff6600;
    --title-color-secondary: #008251;

    --bg-button-color: #33302f;

    --nav-height: 103px;
    --card-width: 250px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

a,
a:active,
a:visited {
    text-decoration: none;
}

li,
ul {
    list-style: none;
    padding: 0;
}

button {
    border-style: none;
}

/* Global */
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Nav */
.nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--bg-primary-color);
    padding: 0 2.8rem 0 1.5rem;
    z-index: 100;
}

.nav__brand {
    width: auto;
    height: 46px;
}

.nav__logo {
    width: inherit;
    height: inherit;
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav__item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.nav__item:hover .nav__link {
    color: var(--title-color-primary);
}

.nav__link {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-primary-color);
}

.nav__socials {
    display: flex;
    gap: 12px;
}

.nav__social {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__social--facebook {
    background-color: #3c5994;
}

.nav__social--twitter {
    background-color: #59a8ea;
}

.nav__social--instagram {
    background: linear-gradient(90deg, #f17e00, #e50029, #d30060);
}

.nav__social--youtube {
    background-color: #d84e42;
}

.nav__icon {
    color: var(--text-color-secondary);
    font-size: 10px;
}

.nav__search {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 0;
    background-color: var(--bg-terciary-color);
    overflow: hidden;
    transition: .2s ease-in;
}

.nav__search.active {
    height: 40px;
}

.nav__input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--text-color-secondary);
    outline: none;
    padding: 0 40px;
    font-size: 1.2em;
    border-style: none;
}

.nav__exit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--bg-primary-color);
    z-index: 9;
}
/* Burger */
.burger {
    position: relative;
    width: 35px;
    height: 35px;
    gap: 5px;
    cursor: pointer;
    display: none;
}

.burger__item {
    width: 80%;
    height: 5px;
    background-color: #33302f;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-50%);
    top: 25%;
    left: 50%;
    transition: .3s linear;
}

.burger__item:nth-child(2) {
    top: 50%;
}

.burger__item:nth-child(3) {
    top: 75%;
}

/* Container */
.container {
    min-height: 100vh;
}

/* Hero Section */
.hero {
    width: 100%;
}

/* Carrousel */
.carrousel {
    position: relative;
    height: 450px;
    overflow: hidden;
    display: flex;
}

.carrousel__list {
    display: flex;
    transition: .3s linear;
}

.carrousel__item {
    position: relative;
    height: inherit;
    width: 100vw;
    overflow: hidden;
}

.carrousel__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 246, 246, 0.9);
}

.carrousel__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.carrousel__content {
    position: absolute;
    top: 6rem;
    left: 12rem;
}

.carrousel__title {
    color: var(--text-primary-color);
    font-size: 40px;
    max-width: 270px;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 40px;
}

.carrousel__title--important {
    color: var(--title-color-primary);
}

.carrousel__paragraph {
    max-width: 400px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
}

.carrousel__link {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    color: var(--title-color-primary);
}

.carrousel__link:hover .carrousel__link--arrow-up-right {
    transform: translateX(5px) rotate(90deg);
}


.carrousel__link--arrow-up-right {
    position: relative;
    transform: rotate(45deg);
    transition: .25s ease;
}

.carrousel__link--arrow-up-right i {
    transform: inherit;
}

.carrousel__people {
    position: absolute;
    right: 170px;
    bottom: -40px;
    height: 480px;
    width: auto;
    pointer-events: none;
}

.carrousel__60years {
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    width: 180px;
    height: auto;
    pointer-events: none;
}

.carrousel__row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ebe9e2;
    background-color: var(--bg-primary-color);
    cursor: pointer;
    transition: .15s ease;
    z-index: 10;
}

.carrousel__row:hover {
    background-color: var(--bg-secondary-color);

}

.carrousel__row--left {
    left: 40px;
}

.carrousel__row--right {
    right: 40px;
}

/* Helps */
.help__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 40px;
    gap: 5px;
}

.help__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120px;
    gap: 10px;
}

.help__icon {
    width: 50px;
    height: 50px;
    background: linear-gradient(130deg, var(--bg-secondary-color), #ffcc00);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--bg-primary-color);
}

.help__title {
    text-align: center;
    color: var(--text-primary-color);
    font-size: 18px;
    font-weight: 500;
}

/* News Section */
.news {
    width: 100%;
    min-height: 80vh;
    padding-top: 40px;
}

.news__title {
    color: var(--title-color-primary);
    font-size: 25px;
    line-height: 1.8;
}

.news__subtitle {
    color: var(--text-primary-color);
    margin-bottom: 40px;
}

.news__title,
.news__subtitle {
    text-align: center;
}

/* Card container */
.card__container {
    width: 100vw;
    min-height: 500px;
    overflow: hidden;
}

.card__list {
    width: inherit;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.card__item {
    display: flex;
    justify-content: center;
    height: inherit;
    gap: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    transition: .3s linear;
}

.card__item.active {
    opacity: 1;
}

/* Card */
.card {
    width: var(--card-width);
    height: fit-content;
}

.card__image {
    width: var(--card-width);
    height: var(--card-width);
    object-fit: cover;
    border-radius: 20px;
}

.card__content {
    width: 100%;
    padding: 10px 15px;
}

.card__date {
    color: var(--text-color-terciary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}

.card__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.card__category {
    color: var(--text-color-secondary);
    padding: 8px 10px;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 20px;
}

/* Category type - background */
.card__category--news { background-color: #ff6600 }
.card__category--agent { background-color: #00794d }
.card__category--blog { background-color: #ff5100 }

.card__description {
    color: var(--text-primary-color);
    font-weight: 300;
}

/* News block */
.news__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
}

.news__text {
    color: var(--text-primary-color);
    font-weight: 300;
}

.card__controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card__control {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--bg-button-color);
    border: 2px solid transparent;
    cursor: pointer;
}

.card__control.active {
    background-color: var(--bg-primary-color);
    border: 2px solid var(--bg-button-color);
}

.news__all {
    background: #c3e1c6;
    color: var(--bg-terciary-color);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
}

.news__all::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50%;
    width: 40px;
    height: 40px;
    background-image: url('/img/cursor-pixel.png');
    background-size: cover;
}

/* Responsive 900px */
@media screen and (max-width: 900px) {
    /* Carrousel */
    .carrousel__60years,
    .carrousel__people {
        display: none;
    }

    .carrousel__content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Responsive 950px */
@media screen and (max-width: 950px) {
    .card__list,
    .card__container {
        overflow-x: scroll;
    }

    .card__item {
        justify-content: flex-start;
        padding: 0 40px;
    }

    /* News Section */
    .news__block {
        justify-content: center;
    }

    .news__text,
    .news__all {
        display: none;
    }
}

/* Responsive 1100px */
@media screen and (max-width: 1100px) {
    /* Nav */
    .nav__brand {
        height: 40px;
    }

    .nav__list {
        position: fixed;
        top: var(--nav-height);
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: var(--bg-primary-color);
        flex-direction: column;
        gap: 0;
        transition: .3s linear;
    }

    .nav__list.active {
        right: 0;
    }

    .nav__item {
        width: 100%;
        height: 50px;
    }

    .nav__link {
        width: inherit;
        height: inherit;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__socials {
        justify-content: center;
        margin-top: 40px;
    }

    /* Burger */
    .burger {
        display: flex;
        z-index: 999;
    }

    .burger.active .burger__item:nth-child(1) {
        transform: translateX(-50%) rotate(45deg);
        top: 50%;
    }

    .burger.active .burger__item:nth-child(2) {
        left: 120%;
        opacity: 0;
    }

    .burger.active .burger__item:nth-child(3) {
        transform: translateX(-50%) rotate(-45deg);
        top: 50%;
    }
}


